.addTask{
    display: flex;
    justify-content: center;
    margin-left: 35px;

    input{
        width: 80%;
        height: 60px;
        padding: 20px 50px;

        &:focus{
            outline: none;
        }

        @media (min-width: 768px) {
            width: 64%;
        }

        @media (min-width: 1200px) {
            width: 51%;
        }
    }

    button{
        position: relative;
        top: 0; 
        right: 40px;
        background: transparent;
        border: 0;
        height: auto;

        &:hover,
        &:focus,
        &:active{
            background: transparent !important;
            box-shadow: none !important;
        }

        img{
            fill: #bdbdbd;
            width: 20px;
        }   
    }

    & input{
        padding: 0;
        border: 1px solid #dadada;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        margin: 30px 0;
      }
}