#root {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; /*Convierte 1rem en 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #ededed;
    font-family: 'Roboto', sans-serif;
  }

.app {
  padding: 0 !important;

  .title{
    height: 100px;
    background-color: #176B87;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    h1{
      font-size: 3rem;
      color: #ffffff;
    }
  }

  .todo{
    margin: 60px 0 0 0;
    
    &__title{
      background-color: white;
      height: 60px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #dadada;

      h2{
        color: #176B87;
        letter-spacing: 5px;
      }
    }
  }
}  