#root {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%; /*Convierte 1rem en 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: white;
  }
  